.cart-form {
  max-width: 940px;
  padding: 0 32px;
  margin: 50px auto;
  input, button, select, textarea, h1 {
    margin-bottom: 1rem;
  }
  .button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #f50035;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    color: #fff;
    background-color: #f50035;
    text-transform: uppercase;
    &:hover {
      background-color: lighten(#f50035, 10%);
    }
  }
}