<form action="/index.php" data-product-id="<{$product->getID()}>" class="cart-form" name="cartform" method="post">

    <h1><{$product->getName()}></h1>

    <input type="hidden" name="action" value="prodcataloguecart">
    <input type="hidden" name="form_name" value="cart3">
    <input type="hidden" name="form_action" value="add_product">
    <input type="hidden" name="product_id" value="<{$product->getID()}>">

    <input type="number" value="1" name="quantity" class="cart-quantity" min="1"/>

    <{* Use following block only If you are using Product Variants *}>

    <{if !empty($product->getOptionListArray())}>
        <{$allOptionsData = $product->getOptionListArray(true)}>
        <{$allVariants = $allOptionsData.variantsInfo}>
        <{foreach $product->getOptionListArray() as $productOptionList}>
            <{$currentOptions = $productOptionList.options}>
            <select name="attrib[<{$productOptionList.id}>]" class="product-option-list-select" id="optionlist--<{$productOptionList.id}>">
                <{foreach $productOptionList.options_arrangement as $option}>
                    <{if array_key_exists($option, $allVariants)}>
                    <option value="<{$option}>"><{$currentOptions[$option]}></option>
                    <{/if}>
                <{/foreach}>
            </select>
        <{/foreach}>
    <{/if}>

    <{* Form submit button - see cart.js for related AJAX code *}>

    <button type="submit" class="cart-add button">Add to Cart</button>

</form>
